.App {
  font-family: sans-serif;
  text-align: center;
}

table tr td {
  border: 5px solid grey;
}

table {
  width: 250px;
  height: 250px;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: aqua;
  font-weight: 1000px;
  font-size: 25px;
}

.startGame {
  color: red;
  width: 75px;
  height: 50px;
  display: block;
  line-height: 50px;
  border-radius: 25px;
}
