.App {
  font-family: sans-serif;
  text-align: center;
}

table tr td {
  border: 0.05px solid red;
}

table {
  width: 250px;
  height: 250px;
  border-collapse: collapse;
  background-color: red;
  table-layout: fixed;
}

.startGame {
  background-color: red;
  color: white;
  width: 75px;
  height: 50px;
  display: block;
  line-height: 50px;
  border-radius: 25px;
}
